/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  display: flex;
  justify-content: center;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  max-width: 1440px;
}

p {
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}
@media (min-width: 600px) {
  header {
    padding: 1rem 3rem;
  }
}

nav {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 90%;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
nav li {
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
  color: hsl(210, 4%, 67%);
}
nav li:last-child {
  background-color: hsl(51, 100%, 49%);
  padding: 7px 25px;
  border-radius: 3rem;
  margin: 1rem;
  color: black;
}
@media (min-width: 600px) {
  nav li:last-child {
    background-color: white;
    color: black;
  }
}
@media (min-width: 600px) {
  nav li {
    color: white;
  }
}
nav a {
  text-decoration: none;
}
@media (min-width: 600px) {
  nav {
    position: initial;
    transform: initial;
    background-color: transparent;
    width: auto;
    display: flex;
    flex-direction: row;
  }
}

nav::after {
  content: "";
  position: absolute;
  top: -0.9rem;
  right: 0;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: 1rem solid transparent;
  border-right: 1rem solid white;
}

.nav-menu:active {
  opacity: 0.7;
}
@media (min-width: 600px) {
  .nav-menu {
    display: none;
  }
}

.nav-open {
  display: flex;
}

.hero-title {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-align: center;
}
@media (min-width: 600px) {
  .hero-title {
    font-size: 3rem;
  }
}

.hero-arrow {
  position: absolute;
  top: 18rem;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 600px) {
  .hero-arrow {
    top: 21rem;
  }
}

@media (min-width: 600px) {
  .hero-mobile {
    display: none;
  }
}

.hero-desktop {
  display: none;
}
@media (min-width: 600px) {
  .hero-desktop {
    display: block;
  }
}

.intro {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .about {
    flex-direction: row-reverse;
  }
}

.about:last-of-type {
  flex-direction: column-reverse;
}
@media (min-width: 600px) {
  .about:last-of-type {
    flex-direction: row-reverse;
  }
}

.about-mobile {
  display: block;
}
@media (min-width: 600px) {
  .about-mobile {
    display: none;
  }
}

.about-desktop {
  display: none;
}
@media (min-width: 600px) {
  .about-desktop {
    display: flex;
    flex: 50%;
  }
}

.col {
  flex: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3.5rem 1rem;
  gap: 2rem;
}
.col h1 {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin: 0;
}
.col p {
  color: hsl(210, 4%, 67%);
  margin: 0;
}
.col a {
  font-family: "Fraunces", serif;
  text-decoration: none;
  font-weight: 900;
  position: relative;
}
.col a::after {
  content: "";
  position: absolute;
  width: 110%;
  background-color: rgba(250, 212, 0, 0.404);
  height: 0.5rem;
  top: 0.9rem;
  left: -0.5rem;
  z-index: -1;
  border-radius: 25px;
}
@media (min-width: 600px) {
  .col {
    flex: 50%;
    margin: 0;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    padding: 2.5rem;
  }
}

.service {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .service {
    flex-direction: row;
  }
}

.services {
  position: relative;
  display: flex;
  text-align: center;
  flex: 100%;
}
@media (min-width: 600px) {
  .services {
    flex: 50%;
  }
}

.service-mobile {
  display: flex;
}
@media (min-width: 600px) {
  .service-mobile {
    display: none;
  }
}

.service-desktop {
  display: none;
}
@media (min-width: 600px) {
  .service-desktop {
    display: flex;
  }
}

.service-content {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}
.services:nth-child(2) .service-content {
  bottom: 4.5rem;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
}

.wrap-img {
  flex: 50%;
  width: 100%;
}
@media (min-width: 600px) {
  .wrap-img {
    display: none;
  }
}

.img-wrap {
  display: none;
}
@media (min-width: 600px) {
  .img-wrap {
    display: block;
    flex: 25%;
  }
}