/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Barlow", sans-serif;
  max-width: 1440px;
  margin: 0;
  position: relative;
}

p {
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  z-index: 2;
}
@media (min-width: 768px) {
  header {
    padding: 1rem 3rem;
  }
}

nav {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 90%;
  display: none;
  flex-direction: column;
  align-items: center;
}
nav li {
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
  color: hsl(210, 4%, 67%);
}
nav li:last-child {
  background-color: hsl(51, 100%, 49%);
  padding: 7px 25px;
  border-radius: 3rem;
  margin: 1rem;
  color: black;
}
@media (min-width: 768px) {
  nav li:last-child {
    background-color: white;
    color: black;
  }
  nav li:last-child:active {
    color: white;
    background-color: rgba(255, 255, 255, 0.185);
  }
}
@media (min-width: 768px) {
  nav li {
    color: white;
  }
}
nav a {
  text-decoration: none;
}
@media (min-width: 768px) {
  nav {
    position: initial;
    transform: initial;
    background-color: transparent;
    width: auto;
    display: flex;
    flex-direction: row;
  }
}

nav::after {
  content: "";
  position: absolute;
  top: -0.9rem;
  right: 0;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: 1rem solid transparent;
  border-right: 1rem solid white;
}
@media (min-width: 768px) {
  nav::after {
    display: none;
  }
}

.nav-menu:active {
  opacity: 0.7;
}
@media (min-width: 768px) {
  .nav-menu {
    display: none;
  }
}

.nav-open {
  display: flex;
}

.hero {
  position: relative;
}

.hero-title {
  position: absolute;
  color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: "Fraunces", serif;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
    top: 28%;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-title {
    font-size: 3rem;
    top: 30%;
  }
}

.hero-arrow {
  position: absolute;
  top: 55%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%, -50%);
}
@media (min-width: 425px) {
  .hero-arrow {
    top: 55%;
  }
}
@media (min-width: 768px) {
  .hero-arrow {
    top: 45%;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-arrow {
    top: 48%;
  }
}

.hero-mobile {
  z-index: -1;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .hero-mobile {
    display: none;
  }
}

.hero-desktop {
  display: none;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .hero-desktop {
    display: block;
  }
}

.intro {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about {
    flex-direction: row-reverse;
  }
}

.about:last-of-type {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .about:last-of-type {
    flex-direction: row-reverse;
  }
}

.about-mobile {
  display: block;
}
@media (min-width: 768px) {
  .about-mobile {
    display: none;
  }
}

.about-desktop {
  display: none;
}
@media (min-width: 768px) {
  .about-desktop {
    display: flex;
    flex: 50%;
  }
}

.col {
  flex: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3.5rem 1rem;
  gap: 2rem;
}
.col h1 {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin: 0;
}
.col p {
  color: hsl(210, 4%, 67%);
  margin: 0;
}
.col a {
  font-family: "Fraunces", serif;
  text-decoration: none;
  font-weight: 900;
  position: relative;
}
.col a::after {
  content: "";
  position: absolute;
  width: 110%;
  background-color: rgba(250, 212, 0, 0.404);
  height: 0.5rem;
  top: 0.9rem;
  left: -0.5rem;
  z-index: -1;
  border-radius: 25px;
}
.col a:active::after {
  background-color: hsl(51, 100%, 49%);
}
@media (min-width: 768px) {
  .col {
    flex: 50%;
    margin: 0;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    padding: 2.5rem;
  }
}

.about:nth-child(2) .col a::after {
  background-color: hsla(7, 99%, 70%, 0.315);
}
.about:nth-child(2) .col a:active::after {
  background-color: hsl(7, 99%, 70%);
}

.service {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .service {
    flex-direction: row;
  }
}

.services {
  position: relative;
  display: flex;
  text-align: center;
  flex: 100%;
}
@media (min-width: 768px) {
  .services {
    flex: 50%;
  }
}

.service-mobile {
  display: flex;
}
@media (min-width: 768px) {
  .service-mobile {
    display: none;
  }
}

.service-desktop {
  display: none;
}
@media (min-width: 768px) {
  .service-desktop {
    display: flex;
  }
}

.service-content {
  position: absolute;
  bottom: 4rem;
  left: 52%;
  transform: translateX(-50%);
  width: 90%;
}
.service-content h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2rem;
}
.service-content h2,
.service-content p {
  color: hsl(167, 40%, 24%);
}
@media (min-width: 768px) {
  .service-content {
    bottom: 2rem;
  }
}

.services:nth-child(2) .service-content h2,
.services:nth-child(2) .service-content p {
  color: hsl(198, 62%, 26%);
}
@media (min-width: 768px) {
  .services:nth-child(2) .service-content {
    bottom: 3.5rem;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  padding: 4rem 1.5rem;
}
.testimonials h2 {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 3px;
  font-family: "Fraunces", serif;
  color: hsl(232, 10%, 55%);
}
@media (min-width: 1200px) {
  .testimonials {
    padding: 7rem 5rem 10rem 5rem;
  }
}

.staff {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media (min-width: 768px) {
  .staff {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}

.personnel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}
.personnel img {
  border-radius: 50%;
  width: 25%;
}
.personnel p {
  color: hsl(213, 9%, 39%);
  line-height: 1.7;
}
.personnel h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}
.personnel h4 {
  color: hsl(210, 4%, 67%);
  margin-top: 0.5rem;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
}

.wrap-img {
  flex: 50%;
  width: 100%;
}
@media (min-width: 768px) {
  .wrap-img {
    display: none;
  }
}

.img-wrap {
  display: none;
}
@media (min-width: 768px) {
  .img-wrap {
    display: block;
    flex: 25%;
  }
}

footer {
  background-color: hsl(168, 62%, 63%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 100%;
}
footer .nav-logo {
  fill: hsl(167, 40%, 24%);
}
footer ul {
  list-style-type: none;
  color: hsl(167, 40%, 24%);
  display: flex;
  padding: 0;
  gap: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
}
footer ul li:active {
  color: white;
}
footer .social {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
  cursor: pointer;
}
footer .social img:active {
  filter: grayscale(100%) brightness(200%);
}