// MODERN CSS RESET

/* Box sizing rules */
*,
*::before,
*::after {
 box-sizing: border-box;
}
/* Prevent font size inflation */
html {
 -moz-text-size-adjust: none;
 -webkit-text-size-adjust: none;
 text-size-adjust: none;
 display: flex;
 justify-content: center;
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
 margin-block-end: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
 list-style: none;
}
/* Set core body defaults */
body {
 min-height: 100vh;
 line-height: 1.5;
}
/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
 line-height: 1.1;
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
 text-wrap: balance;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
 text-decoration-skip-ink: auto;
 color: currentColor;
}
/* Make images easier to work with */
img,
picture {
 max-width: 100%;
 display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
 font: inherit;
}
/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
 min-height: 10em;
}
/* Anything that has been anchored to should have extra scroll margin */
:target {
 scroll-margin-block: 5ex;
}

// CUSTOM CSS

$primaryfont: "Barlow", sans-serif;
$secondaryfont: "Fraunces", serif;

body {
 font-family: $primaryfont;
 margin: 0;
 max-width: 1440px;
}
p {
 font-size: 18px;
}
img {
 max-width: 100%;
 height: auto;
 display: block;
}

// HEADER SECTION

header {
 position: absolute;
 top: 0;
 left: 50%;
 transform: translateX(-50%);
 background-color: transparent;
 padding: 1rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 max-width: 1440px;
 @media (min-width: 600px) {
  padding: 1rem 3rem;
 }
}
nav {
 position: absolute;
 top: 5rem;
 left: 50%;
 transform: translateX(-50%);
 background-color: white;
 width: 90%;
 display: none;
 flex-direction: column;
 align-items: center;
 z-index: 1;

 li {
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
  color: hsl(210, 4%, 67%);

  &:last-child {
   background-color: hsl(51, 100%, 49%);
   padding: 7px 25px;
   border-radius: 3rem;
   margin: 1rem;
   color: black;

   @media (min-width: 600px) {
    background-color: white;
    color: black;
   }
  }

  @media (min-width: 600px) {
   color: white;
  }
 }
 a {
  text-decoration: none;
 }
 @media (min-width: 600px) {
  position: initial;
  transform: initial;
  background-color: transparent;
  width: auto;
  display: flex;
  flex-direction: row;
 }
}
nav::after {
 content: "";
 position: absolute;
 top: -0.9rem;
 right: 0;
 width: 0;
 height: 0;
 z-index: 1;
 border-top: 1rem solid transparent;
 border-right: 1rem solid white;
}
.nav-menu {
 &:active {
  opacity: 0.7;
 }
 @media (min-width: 600px) {
  display: none;
 }
}
.nav-open {
 display: flex;
}

// HERO SECTION

.hero-title {
 position: absolute;
 top: 8rem;
 left: 50%;
 transform: translateX(-50%);
 color: white;
 font-size: 2rem;
 font-family: $secondaryfont;
 font-weight: 900;
 letter-spacing: 0.5rem;
 text-align: center;
 @media (min-width: 600px) {
  font-size: 3rem;
 }
}
.hero-arrow {
 position: absolute;
 top: 18rem;
 left: 50%;
 transform: translateX(-50%);
 @media (min-width: 600px) {
  top: 21rem;
 }
}
.hero-mobile {
 @media (min-width: 600px) {
  display: none;
 }
}
.hero-desktop {
 display: none;
 @media (min-width: 600px) {
  display: block;
 }
}

// INTRO SECTION

.intro {
 display: flex;
 flex-direction: column;
}
.about {
 display: flex;
 flex-direction: column;
 @media (min-width: 600px) {
  flex-direction: row-reverse;
 }
}
.about:last-of-type {
 flex-direction: column-reverse;
 @media (min-width: 600px) {
  flex-direction: row-reverse;
 }
}
.about-mobile {
 display: block;
 @media (min-width: 600px) {
  display: none;
 }
}
.about-desktop {
 display: none;
 @media (min-width: 600px) {
  display: flex;
  flex: 50%;
 }
}
.col {
 flex: 100%;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: 3.5rem 1rem;
 gap: 2rem;
 h1 {
  font-size: 2.5rem;
  font-family: $secondaryfont;
  font-weight: 900;
  margin: 0;
 }
 p {
  color: hsl(210, 4%, 67%);
  margin: 0;
 }
 a {
  font-family: $secondaryfont;
  text-decoration: none;
  font-weight: 900;
  position: relative;

  &::after {
   content: "";
   position: absolute;
   width: 110%;
   background-color: rgba(250, 212, 0, 0.404);
   height: 0.5rem;
   top: 0.9rem;
   left: -0.5rem;
   z-index: -1;
   border-radius: 25px;
  }
 }
 @media (min-width: 600px) {
  flex: 50%;
  margin: 0;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
  padding: 2.5rem;
 }
}

// SERVICE SECTION

.service {
 display: flex;
 flex-direction: column;
 @media (min-width: 600px) {
  flex-direction: row;
 }
}
.services {
 position: relative;
 display: flex;
 text-align: center;
 flex: 100%;
 @media (min-width: 600px) {
  flex: 50%;
 }
}
.service-mobile {
 display: flex;
 @media (min-width: 600px) {
  display: none;
 }
}
.service-desktop {
 display: none;
 @media (min-width: 600px) {
  display: flex;
 }
}
.service-content {
 position: absolute;
 bottom: 3rem;
 left: 50%;
 transform: translateX(-50%);
 width: 90%;
 @media (min-width: 600px) {
 }
}
.services:nth-child(2) .service-content {
 bottom: 4.5rem;
}
